name: Spring Boot CD

on:
  workflow_run:
    workflows: ["Spring Boot CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull seungkyu1836/cicd-springboot:latest
            docker stop cntr-springboot || true
            docker rm cntr-springboot || true
            docker run -d --name cntr-springboot -p 80:9000 seungkyu1836/cicd-springboot:latest